In [1]:
import pandas as pd

In [6]:
pd.read_pickle("../resources/data/test_data.pkl")

        doc_id                                           bow_dict    label
0          352  {'abstract': 1, 'according': 2, 'acquire': 1, ...     nips
1      1783792  {'192ir': 1, 'accuracy': 1, 'activated': 1, 'a...   pubmed
2        21523  {'accept': 1, 'applies': 1, 'assume': 3, 'bid'...    enron
3         2815  {'battle': 1, 'cheney': 4, 'debate': 3, 'decid...      kos
4       150701  {'abuse': 1, 'access': 1, 'active': 1, 'addres...  nytimes
...        ...                                                ...      ...
10402   177591  {'accident': 2, 'according': 1, 'activate': 1,...  nytimes
10403    96626  {'acceptable': 1, 'act': 1, 'action': 1, 'advi...  nytimes
10404    30497  {'account': 2, 'address': 2, 'amazon': 1, 'ama...    enron
10405   495519  {'2_year': 1, 'abnormalities': 1, 'aggregates'...   pubmed
10406    30710  {'cera': 1, 'conference': 1, 'crisis': 1, 'ear...    enron

[10407 rows x 3 columns]